/* Table of Contents */
/* Container for the table of contents */
.franklin-toc {
    float: right;
    width: 200px; /* Adjust width as needed */
    margin-left: 10px;
    position: sticky; /* Keeps it visible while scrolling */
    top: 70px;
    padding: 10px;
    background-color: #f9f9f9; /* Optional styling */
    border: 2px solid #ddd;
    border-radius: 15px;
}

/* Responsive adjustment for small screens */
@media (max-width: 600px) {
    .franklin-toc {
        float: none;
        width: 100%;
        margin-left: 0;
        position: static;
        top: 0px;
        padding: 10px;
        background-color: #f9f9f9; /* Optional styling */
        border: 2px solid #ddd;
        border-radius: 15px;
    }
}



